.vipgrid {
	--celloffset: 0;
	--markerwidth: 0;
	outline: none;
	display: flex;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.vipcol {
	flex-grow: 1;
}
.vipmonthhdr {
	text-align: center;
	line-height: calc(var(--celloffset) * 2);
	cursor: pointer;
}
.vipcoloffset {
	--offsetday: 0;
	margin-top: calc(var(--celloffset) * var(--offsetday));
	position: relative;
}
.vipcells {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
}
.vipsel {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	background-color: rgba(255,255,127,0.6);
	pointer-events: none;
	z-index: 10;
}
.vipcolevts {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	z-index: 1;
}
.vipmultidayevent {
	--start: 0;
	--extent: 0;
	--slot: 0;
	position: absolute;
	top: calc(var(--celloffset) * var(--start));
	height: calc((var(--celloffset) * var(--extent)) - 1px);
	right: calc((var(--slot) * (var(--markerwidth) + 2px)) + 3px);
	width: var(--markerwidth);
}

.vipcell {
	height: calc(var(--celloffset) - 1px);
	margin-left: 1px;
	margin-bottom: 1px;
	background-color: #eaeaea;
	display: flex;
	overflow: hidden;
	pointer-events: none;
}
.vipcell.weekend {
	background-color: #d8d8d8;
}
.vipcellnum {
	margin: 0.6%;
	width: 1.6em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	cursor: pointer;
	pointer-events: all;
}
.vipcellnum.today {
	font-weight: bold;
	color: white;
	background-color: red;
}
.vipcellevts {
	flex-grow: 1;
	overflow: hidden;
	z-index: 2;
	display: flex;
	position: relative;
}
.vipsingledayevent {
	margin-left: 2px;
	margin-right: 1px;
	overflow: hidden;
	display: flex;
	align-items: center;
	pointer-events: all;
}
.vipeventmarker {
	width: var(--markerwidth);
	height: 1em;
	flex-shrink: 0;
}
.vipeventmarker.proportional {
	height: 0.6em;
	position: absolute;
}
.vipeventtext {
	margin-left: 2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
