.vipgrid {
	--celloffset: 0;
	--markerwidth: 0;
	--markerpadding: 0;
	user-select: none;
	outline: none;
	display: flex;
	flex-direction: row;
	-ms-user-select: none;
}

.vipcol {
	flex-grow: 1;
}
.vipcol.indicator {
	padding-left: 2px;
}
.vipmonthhdr {
	text-align: center;
	line-height: calc(var(--celloffset) * 2);
	cursor: pointer;
}
.vipcoloffset {
	--offsetday: 0;
	margin-top: calc(var(--celloffset) * var(--offsetday));
	position: relative;
}
.vipcells {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
}
.vipsel {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	background-color: rgba(255,255,127,0.6);
	pointer-events: none;
	z-index: 10;
}
.vipseltip {
	width: 100%;
	position: absolute;
	font-size: 0.8em;
	text-align: center;
	pointer-events: none;
	z-index: 10;
}
.vipcolevts {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
}
.vipmultidayevent {
	--start: 0;
	--extent: 0;
	--slot: 0;
	position: absolute;
	right: calc(var(--slot) * var(--markerwidth));
	top: calc(var(--celloffset) * var(--start));
	width: calc(var(--markerwidth) - 2px);
	height: calc((var(--celloffset) * var(--extent)) - 1px);
	z-index: 1;
}

.vipcell {
	line-height: calc(var(--celloffset) - 3px);
	padding: 1px;
	margin-left: 1px;
	margin-bottom: 1px;
	background-color: #eaeaea;
	display: flex;
	flex-direction: row;
	pointer-events: none;
}
.vipcell.weekend {
	background-color: #d8d8d8;
}
.vipcellnum {
	width: 1.6em;
	text-align: center;
	cursor: pointer;
	pointer-events: all;
}
.vipcellnum.today {
	font-weight: bold;
	color: white;
	background-color: red;
}
.vipcellevts {
	flex-grow: 1;
}
.vipsingledayevent {
	margin-left: 2px;
	display: flex;
	flex-direction: row;
	z-index: 2;
	cursor: default;
	pointer-events: all;
}
.vipeventmarker {
	width: 0.6em;
	height: 1em;
	align-self: center;
}
.vipeventtext {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.vipeventmarker.proportional {
	position: absolute;
}
